@import "tailwindcss";

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "OldTownLT";
  src: url("./assets/fonts/old_town_lt.woff2") format("woff2");
}

@font-face {
  font-family: "Palatino";
  src: url("./assets/fonts/palatino.woff2") format("woff2");
}

@font-face {
  font-family: "Gabriela";
  src: url("./assets/fonts/gabriela.woff2") format("woff2");
}

@layer base {
  :root {
    --font-oldtown: "OldTownLT", serif;
    --font-palatino: "Palatino", serif;
    --font-gabriela: "Gabriela", serif;
    --WHITE: #f3efe3;
    --BLACK: #191719;
    --RED: #ca0000;
    --BEIGE: #cab59d;
    --GREEN: #34c759;
    --GOLD: #ffdd22;
  }
  html {
    font-family: var(--font-oldtown);
    color: var(--BLACK);
  }
}
@layer utilities {
  .font-oldtown {
    font-family: var(--font-oldtown);
  }

  .font-palatino {
    font-family: var(--font-palatino);
  }

  .font-gabriela {
    font-family: var(--font-gabriela);
  }

  .text-stroke-white {
    -webkit-text-stroke: 0.9px var(--WHITE);
  }

  .text-stroke-black {
    -webkit-text-stroke: 0.05vw var(--BLACK);
  }

  .mask-border-none {
    mask: url(./assets/images/base/misc/_mask_border_none.svg);
  }

  .mask-border-base {
    mask: url(./assets/images/base/misc/_mask_border_base.svg);
  }

  .mask-bulletHoles {
    mask: url(./assets/images/base/misc/_mask_bullet_holes.svg);
  }

  .mask-weathered {
    mask: url(./assets/images/base/misc/_mask_weathered.png) 0 0/ 190px 90px;
  }

  .mask-weathered_2 {
    mask: url(./assets/images/base/misc/_mask_weathered.png) 0 100px/ 200px
      400px;
  }

  .mask-weathered_3 {
    mask: url(./assets/images/base/misc/_mask_weathered.png) 50px 0/ 400px 800px;
  }

  .bg-gradient-custom-1 {
    background: radial-gradient(
      circle,
      rgba(255, 250, 245, 1) 20%,
      rgba(230, 194, 165, 1) 90%
    );
  }

  .bg-woodenTexture {
    background-image: url(./assets/images/core/woodenTexture.jpg);
    background-size: 110%;
  }

  .bg-fabricTexture {
    background-image: url(./assets/images/core/fabricTexture_small.jpg);
    background-size: 100%;
  }

  .bg-paperTexture-yellow {
    background-image: url(./assets/images/core/paperTexture_yellow.png);
    background-size: 300%;
  }

  .bg-paperTexture-stockalike {
    background-image: url(./assets/images/core/paperTexture_stockalike.png);
    background-size: 300%;
  }

  .bg-paperTexture-white {
    background-image: url(./assets/images/core/paperTexture_white.jpg);
    background-size: 250%;
  }

  .custom-text-highlighted {
    color: var(--RED);
    -webkit-text-stroke: 0.1vw var(--BLACK);
  }

  .custom-color-black {
    color: var(--BLACK);
  }

  .custom-scrollbar {
    scrollbar-color: var(--BLACK) #f3efe3;
    scrollbar-width: auto;
  }
}
