@import "tailwindcss";

@font-face {
  font-family: "OldTowneLT";
  src: url("./assets/fonts/old_towne_lt.otf") format("opentype");
}

@font-face {
  font-family: "Palatino";
  src: url("./assets/fonts/palatino.ttf") format("truetype");
}

@font-face {
  font-family: "Gabriela";
  src: url("./assets/fonts/gabriela.ttf") format("truetype");
}

@layer base {
  :root {
    --font-oldtowne: "OldTowneLT", serif;
    --font-palatino: "Palatino", serif;
    --font-gabriela: "Gabriela", serif;
    --BLACK: #191719;
    --RED: #ca0000;
    --BEIGE: #cab59d;
    --GREEN: #34c759;
  }
  html {
    font-family: var(--font-oldtowne);
    color: var(--BLACK);
  }
}

@layer utilities {
  .font-oldtowne {
    font-family: var(--font-oldtowne);
  }

  .font-palatino {
    font-family: var(--font-palatino);
  }

  .font-gabriela {
    font-family: var(--font-gabriela);
  }

  .text-stroke-white {
    -webkit-text-stroke: 0.9px white;
  }

  .text-stroke-black {
    -webkit-text-stroke: 0.05vw var(--BLACK);
  }

  .mask-border-none {
    mask: url(./assets/images/base/misc/_mask_border_none.svg);
  }

  .mask-border-base {
    mask: url(./assets/images/base/misc/_mask_border_base.svg);
  }

  .mask-bulletHoles {
    mask: url(./assets/images/base/misc/_mask_bullet_holes.svg);
  }

  .mask-weathered {
    mask: url(./assets/images/base/misc/_mask_weathered.png) 0 0/ 190px 90px;
  }

  .bg-gradient-custom-1 {
    background: radial-gradient(
      circle,
      rgba(255, 250, 245, 1) 20%,
      rgba(230, 194, 165, 1) 90%
    );
  }

  .bg-woodenTexture {
    background-image: url(./assets/images/core/woodenTexture.jpg);
    background-size: 110%;
  }

  .custom-text-highlighted {
    color: var(--RED);
    -webkit-text-stroke: 0.1vw var(--BLACK);
  }

  .custom-color-black {
    color: var(--BLACK);
  }

  .custom-scrollbar {
    scrollbar-color: var(--BLACK) #f3efe3;
    scrollbar-width: auto;
  }
}
